.Quizz {
  background-color: #00011f;
  height: 100vh;
  color: white;

  & p {
    margin: 5px 0;
  }

  & .justifyCenter {
    justify-content: center;
    display: flex;
  }
  & .header_game {
    margin: 0 !important;

    & .info_header {
      height: fit-content;
      background-color: #ff8d1e;
      border-radius: 20px;
      display: flex;
      align-items: center;
      margin: 25px 0px 60px 0px;
      justify-content: center;
      flex-wrap: wrap;

      @media (max-width: 426px) {
        margin: 25px 0px 35px 0px;
      }

      & .points,
      .counter_question {
        font-size: 20px;
        display: flex;
        justify-content: center;

        & .counter_question_letters {
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }

        & .counter_question_numbers {
          background-color: #00011f;
          border-radius: 20px;
          width: 100px;
          margin: 10px 0;
          font-weight: 700;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .points_letter {
          justify-content: flex-end;
          display: flex;
          align-items: center;
        }

        & .points_number {
          background-color: #00011f;
          border-radius: 20px;
          width: 100px;
          margin: 10px 0;
          font-weight: 700;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  & .question {
    border: 5px solid #ffb03a;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: 0 10px 45px 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // animation: bounceIn 2s ease-in-out ;
    // z-index: 100;
    // }
    // @keyframes bounceIn {
    // 0% {
    //     transform: scale(0.1);
    //     opacity: 0;
    // }
    // 60% {
    //     transform: scale(1.2);
    //     opacity: 1;
    // }
    // 100% {
    //     transform: scale(01);
    // }
    @media (max-width: 426px) {
      margin: 0 10px 25px 10px;
    }

    & p {
      font-size: 20px;
    }
  }

  & .question_fail {
    // border: 5px solid #ffb03a;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: 0 10px 45px 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0);
    background-image: url(../../img/failure.png.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // background-color: rgb(255, 255, 255);
    // animation: bounceIn 2s ease-in-out ;
    // z-index: 100;
    // }
    // @keyframes bounceIn {
    // 0% {
    //     transform: scale(0.1);
    //     opacity: 0;
    // }
    // 60% {
    //     transform: scale(1.2);
    //     opacity: 1;
    // }
    // 100% {
    //     transform: scale(01);
    // }
    @media (max-width: 426px) {
      margin: 0 10px 25px 10px;
    }
  }

  & .answer {
    justify-content: center;
    display: flex;
    background-color: #4b4d80;
    border-radius: 20px;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    & p {
      margin: 10px 0px;
    }
  }

  & .correct_answer {
    justify-content: center;
    display: flex;
    background-color: #3abb78;
    border-radius: 20px;
    margin: 20px 20px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;

    & p {
      margin: 10px 0px;
    }
  }
}
