.Home {
  background-color: #00011f;
  height: 100vh;

  & a:hover,
  a:visited,
  a:link,
  a:active {
    text-decoration: none;
  }

  & h5 {
    color: white;
    font-size: 1rem;
  }

  & .main-image {
    margin-bottom: 50px;
  }

  & .justifyCenter {
    display: flex;
    justify-content: center;
  }

  & .alignCenter {
    display: flex;
    align-items: center;
  }

  & .rowCategories {
    margin: 0 !important;
  }

  & .rowItems {
    margin: 20px 0;
  }

  & .title-image {
    width: 25%;
    margin-top: 30px;
  }

  & .title-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    & h5 {
      color: white;
      font-size: 1rem;
    }
  }

  & .level {
    color: white;
    display: flex;
    justify-content: flex-end;

    & h5 {
      margin: 0;
    }
  }

  & .button-row-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;

    & .level-buttons {
      margin: 8px 10px;
      padding: 7px;
      width: fit-content;
      border: 2px solid #ffaf3a;
      border-radius: 20px;
      color: #ffaf3a;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: lighter;
      cursor: pointer;
    }

    & .level-buttons-selected {
      margin: 8px 10px;
      padding: 7px;
      width: fit-content;
      background-color: #ffaf3a;
      border-radius: 20px;
      height: 40px;
      color: #00011f;
      text-align: center;
      justify-content: center;
      font-weight: 700;
      cursor: pointer;
    }
  }

  & .button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;

    & .level-buttons {
      margin: 8px 10px;
      padding: 7px;
      width: fit-content;
      border: 2px solid #ffaf3a;
      border-radius: 20px;
      color: #ffaf3a;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: lighter;
      cursor: pointer;
    }

    & .level-buttons-selected {
      margin: 8px 10px;
      padding: 7px;
      width: fit-content;
      background-color: #ffaf3a;
      border-radius: 20px;
      height: 40px;
      color: #00011f;
      text-align: center;
      justify-content: center;
      font-weight: 700;
      cursor: pointer;
    }

    & .number {
      width: 70px;
    }
  }

  & .start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-top: 20px;
    border: 5px solid #91299c73;
    cursor: pointer;
    background-color: #ff5436;
    animation: shadow-pulse 1s infinite;
    @keyframes shadow-pulse {
      0% {
        box-shadow: 0 0 0 0px #91299c73;
      }

      100% {
        box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
      }
    }

    & p {
      margin: 0 !important;
      color: white;
      font-weight: bolder;
      font-size: 25px;
    }
  }

  & .start-button-off {
    display: none;
  }
  
}
